<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>typing</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<div id="typing"></div>
	<script>
		
    var str = '内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容';
    var i = 0;
    function typing(){
        var divTyping = document.getElementById('typing');
        if (i <= str.length) {
            divTyping.innerHTML = str.slice(0, i++) + '_';
            setTimeout('typing()', 200);
        }
        else{
            divTyping.innerHTML = str;
        }
    }
    typing();

	</script>
</body>
</html>