<!DOCTYPE html>
<html>
<head>
    <title>自适应布局-一栏固定一栏自适应</title>
    <meta charset="utf-8">
    <style type="text/css">
        *{
            padding: 0;
            margin: 0;
        }
        #left{
            height: 600px;
            width: 200px;
            float: left;
            background-color: #fffc00;
        }
        #main{
            height: 600px;
            width: auto;
            background-color: #03c03c;
        }
    </style>
</head>
<body>
<div id="left">left 固定宽度</div>
<div id="main">main 自适应宽度</div>
</body>
</html>