<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		*{
			margin:0;
			padding:0;
		}
		body{
			background:#42413c;
			text-align:center;
		}
		.container{
			width:778px;
			background:#fff;
			margin:0 auto;
			text-align:left;
		}
		.header{
			padding:10px 0;
			background: #adb96e;
		}

		.slidebar{
			float:left;
			width:200px;
			background: #a4f;
		}
		.mainContent{
			float:left;
			width:570px;
			background: #eee;
		}
		.footer{
			clear:both;
			position:relative;
			padding:10px 0;
			background: #ccc49f;
		}


	</style>
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>网页头部</h1>
		</div>
		<div class='content'>
			<div class="slidebar">
				<h1>侧边栏</h1>
				<h1>侧边栏</h1>
				<h1>侧边栏</h1>
			</div>
		
			<div class="mainContent">
				<h1>网页正文</h1>
				<h1>网页正文</h1>
				<h1>网页正文</h1>
				<h1>网页正文</h1>
			</div>
		</div>
		<div class="footer">
			<h1>脚注</h1>
		</div>
	</div>
</body>
</html>