<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>btn-group</title>
	<style type="text/css" media="screen">
		nav a{
			float: left;
			width: 100px;
			height: 35px;
			line-height: 35px;
			margin: 100px auto;
			text-align: center;
			text-decoration: none;
			border:1px solid #ddd;
		}
		nav a ~ a{
			border-left: none;
			/*margin-left: -1px;*/
		}
	</style>
</head>
<body>
	<nav>
		<a href="">html</a>
		<a href="">css</a>
		<a href="">javascript</a>		
	</nav>
	
</body>
</html>