<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>隐藏元素的方式</title>
	<style type="text/css" media="screen">
		div{
			
			/*font-size: 0;方法一	*/
			/*opacity: 0;方法二*/
			/*position: absolute;方法三
			left: -9999px;*/
			/*text-indent: -9999px;方法四*/
			/*visibility: hidden;方法五*/
			/*display: none;方法六*/
			/*transform: translate(-9999px);方法七*/
			/*transform: scale(0);方法八*/
			/*transform:skew(90deg);*/
			/*margin-left: -9999px;方法九*/
			/*-webkit-clip-path:polygon(0px 0px ,0px 0px ,0px 0px ,0px 0px );方法十*/

		}
		
	</style>
</head>
<body>
	<div>
		隐藏该元素
	</div>
</body>
</html>