<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>轮播</title>
    <link rel="stylesheet" href="carousel.css">
</head>
<body>
    <div class="out">
        <ul class="img">
            <li><a href="#"><img src="images/1.png" alt=""></a></li>
            <li><a href="#"><img src="images/2.png" alt=""></a></li>
            <li><a href="#"><img src="images/3.png" alt=""></a></li>
            <li><a href="#"><img src="images/4.png" alt=""></a></li>
            <li><a href="#"><img src="images/5.png" alt=""></a></li>
            <li><a href="#"><img src="images/6.png" alt=""></a></li>
        </ul>
        <ul class="num">

        </ul>
        <div class="left btn"><</div>
        <div class="right btn">></div>
    </div>
    <script src="jquery-1.8.3.min.js"></script>
    <script src="carousel.js"></script>
</body>
</html>